# Eclipse Metadata
.metadata

# Eclipse Build Directory
bin/

# Eclipse Recommenders
.recommenders/

# Temp files
tmp/
*.tmp
*.swp

# IDE Settings
.settings/
.loadpath
*.iml

# IntelliJ
.idea/
/out/
.idea_modules/

# Target directory
target/

# Logs
logs/
*.log
