[metadata]
format.version = "1.1"

[versions]
cbf = "0.7"
configurate = "4.2.0-SNAPSHOT"
invui = "1.12"
kotlin = "1.9.0"
ktor = "2.3.1"
paper = "1.20.1-R0.1-SNAPSHOT"
paperweight = "1.5.5"
stringremapper = "1.5"
xenondevs-commons = "1.4"

[libraries]
adventure-api = { group = "net.kyori", name = "adventure-api", version = "4.12.0" }
adventure-platform-bukkit = { group = "net.kyori", name = "adventure-platform-bukkit", version = "4.2.0" }
adventure-text-serializer-gson = { group = "net.kyori", name = "adventure-text-serializer-gson", version = "4.12.0" }
adventure-text-serializer-plain = { group = "net.kyori", name = "adventure-text-serializer-plain", version = "4.12.0" }
awssdk-s3 = { group = "software.amazon.awssdk", name = "s3", version = "2.20.68" }
bstats = { group = "xyz.xenondevs.bstats", name = "bstats-bukkit", version = "3.0.1" }
bytbase-runtime = { group = "xyz.xenondevs.bytebase", name = "ByteBase-Runtime", version = "0.4.6" }
caffeine = { group = "com.github.ben-manes.caffeine", name = "caffeine", version = "3.1.6" }
commons-collections = { group = "xyz.xenondevs.commons", name = "commons-collections", version.ref = "xenondevs-commons" }
commons-gson = { group = "xyz.xenondevs.commons", name = "commons-gson", version.ref = "xenondevs-commons" }
commons-provider = { group = "xyz.xenondevs.commons", name = "commons-provider", version.ref = "xenondevs-commons" }
commons-reflection = { group = "xyz.xenondevs.commons", name = "commons-reflection", version.ref = "xenondevs-commons" }
configurate-yaml = { group = "xyz.xenondevs.configurate", name = "configurate-yaml", version.ref = "configurate" }
configurate-extra-kotlin = { group = "xyz.xenondevs.configurate", name = "configurate-extra-kotlin", version.ref = "configurate" }
cosmic-binary-format = { group = "xyz.xenondevs.cbf", name = "cosmic-binary-format", version.ref = "cbf" }
cosmic-binary-format-netty-adapter = { group = "xyz.xenondevs.cbf", name = "cosmic-binary-format-netty-adapter", version.ref = "cbf" }
fuzzywuzzy = { group = "me.xdrop", name = "fuzzywuzzy", version = "1.4.0" }
inventoryaccess = { group = "xyz.xenondevs.invui", name = "inventory-access-r14", version.ref = "invui" }
invui-kotlin = { group = "xyz.xenondevs.invui", name = "invui-kotlin", version.ref = "invui" }
invui-resourcepack = { group = "xyz.xenondevs.invui", name = "invui-resourcepack", version.ref = "invui" }
jimfs = { group = "com.google.jimfs", name = "jimfs", version = "1.2" }
junit-jupiter = { group = "org.junit.jupiter", name = "junit-jupiter", version = "5.9.0" }
kotlin-reflect = { group = "org.jetbrains.kotlin", name = "kotlin-reflect", version.ref = "kotlin" }
kotlin-stdlib = { group = "org.jetbrains.kotlin", name = "kotlin-stdlib", version.ref = "kotlin" }
kotlin-test-junit = { group = "org.jetbrains.kotlin", name = "kotlin-test-junit", version.ref = "kotlin" }
ktor-client-cio-jvm = { group = "io.ktor", name = "ktor-client-cio-jvm", version.ref = "ktor" }
ktor-client-content-negotiation = { group = "io.ktor", name = "ktor-client-content-negotiation", version.ref = "ktor" }
ktor-client-core-jvm = { group = "io.ktor", name = "ktor-client-core-jvm", version.ref = "ktor" }
ktor-serialization-gson-jvm = { group = "io.ktor", name = "ktor-serialization-gson-jvm", version.ref = "ktor" }
ktor-server-cio-jvm = { group = "io.ktor", name = "ktor-server-cio-jvm", version.ref = "ktor" }
ktor-server-core-jvm = { group = "io.ktor", name = "ktor-server-core-jvm", version.ref = "ktor" }
maven-resolver-connector-basic = { group = "org.apache.maven.resolver", name = "maven-resolver-connector-basic", version = "1.8.2" }
maven-resolver-provider = { group = "org.apache.maven", name = "maven-resolver-provider", version = "3.8.5" }
maven-resolver-transport-http = { group = "org.apache.maven.resolver", name = "maven-resolver-transport-http", version = "1.8.2" }
minecraft-asset-downloader = { group = "xyz.xenondevs", name = "minecraft-asset-downloader", version = "1.3" }
minecraft-model-renderer = { group = "xyz.xenondevs", name = "minecraft-model-renderer", version = "1.3" }
nmsutilities = { group = "xyz.xenondevs", name = "nms-utilities", version = "0.13" }
paper-api = { group = "io.papermc.paper", name = "paper-api", version.ref = "paper" }
resource-pack-obfuscator = { group = "xyz.xenondevs", name = "resource-pack-obfuscator", version = "0.4.1" }
specialsource = { group = "net.md-5", name = "SpecialSource", version = "1.11.0" }
stringremapper = { group = "xyz.xenondevs.string-remapper", name = "string-remapper-core", version.ref = "stringremapper" }
zip4j = { group = "net.lingala.zip4j", name = "zip4j", version = "2.11.2" }

[bundles]
cbf = ["cosmic-binary-format", "cosmic-binary-format-netty-adapter"]
configurate = ["configurate-yaml", "configurate-extra-kotlin"]
kotlin = ["kotlin-stdlib", "kotlin-reflect"]
ktor = ["ktor-server-core-jvm", "ktor-server-cio-jvm", "ktor-client-core-jvm", "ktor-client-cio-jvm", "ktor-client-content-negotiation", "ktor-serialization-gson-jvm"]
kyori-adventure = ["adventure-api", "adventure-text-serializer-gson", "adventure-text-serializer-plain", "adventure-platform-bukkit"]
maven-resolver = ["maven-resolver-provider", "maven-resolver-connector-basic", "maven-resolver-transport-http"]
minecraft-assets = ["minecraft-asset-downloader", "minecraft-model-renderer", "resource-pack-obfuscator"]
test = ["kotlin-test-junit", "junit-jupiter"]
xenondevs-commons = ["commons-collections", "commons-gson", "commons-provider", "commons-reflection"]

[plugins]
dokka = { id = "org.jetbrains.dokka", version = "1.8.10" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
paperweight = { id = "io.papermc.paperweight.userdev", version.ref = "paperweight" }