# Configuration options for the resource pack
# READ SETUP GUIDE: https://xenondevs.xyz/docs/nova/admin/setup/#step-2-resourcepack-hosting
resource_pack:
  # The auto uploader automatically uploads the resource pack after generation.
  # READ SETUP GUIDE: https://xenondevs.xyz/docs/nova/admin/setup/#automatic-resource-pack-hosting
  auto_upload:
    enabled: false
  # If Nova is allowed to use solid block states (e.g. mushroom, noteblock) when addons request it.
  # Please read the following documentation page before change this value:  https://xenondevs.xyz/docs/nova/admin/compatibility/troubleshooting/#solid-blocks
  use_solid_blocks: true
  # If players currently loading the resource pack should be frozen.
  freeze_loading_players: false

# If Nova should use a java agent to self-attach and redefine methods.
# This allows Nova to change spigot's behavior and thus improve performance.
use_agent: true

# The render distance for armor stands from Nova, in chunks.
# Note that the render distance is limited by the entity render distance of the client.
armor_stand_render_distance:
  min: 1
  max: 6
  default: 4

# The actionbar overlay used for custom UIs
overlay:
  actionbar:
    enabled: true
  bossbar:
    enabled: true
    amount: 20

# Default transfer rates for networks when tile entities are directly connected.
network:
  energy:
    default_transfer_rate: 9223372036854775807
  item:
    default_transfer_rate: 2147483647
  fluid:
    default_transfer_rate: 9223372036854775807

# Performance options
performance:
  # Nova's executor caps the amount of threads that are allowed to run simultaneously in order to prevent OutOfMemoryErrors.
  nova_executor:
    # If enabled, Nova's own executor will be used. Otherwise, Bukkit's scheduler system is used.
    enabled: true
    # The amount of threads to be started.
    threads: 200
  # If backup files should be created while saving nova regions
  region_backups: true
  # If excess items should be dropped on the ground.
  drop_excess_on_ground: true
  # If block break particles should be displayed.
  block_break_effects: true

debug:
  # The chunk reload watcher will print stack traces if repeated chunk loads and unloads are detected.
  watch_chunk_reloads: false
  # If other plugins should be allowed to overwrite the results of Nova recipes.
  allow_craft_result_overwrite: false

# If metric prefixes should be used to display energy and fluids (e.g. kJ, MJ, GJ or B, kB, MB)
use_metric_prefixes: false

update_reminder:
  # If update reminders should be shown.
  enabled: true
  # The amount of ticks passed between update checks.
  interval: 12000

world:
  # If unknown blocks (e.g. blocks of addons that couldn't be loaded) should be deleted.
  delete_unknown_blocks: false