name: Build Artifacts

on:
  push:
    branches:
      - '**'
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set Up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true
        
      - name: Build Nova
        run: ./gradlew test loaderJar -PoutDir=artifacts -Prelease

      - name: Upload Artifacts
        id: upload
        uses: actions/upload-artifact@v6
        with:
          name: Artifacts
          path: ./artifacts/*.jar

      - name: Deploy to xenondevs repository
        if: github.event_name == 'release'
        uses: gradle/gradle-build-action@v3
        with:
          arguments: publish -Prelease
        env:
          ORG_GRADLE_PROJECT_xenondevsUsername: ${{ secrets.XENONDEVS_RELEASES_USERNAME }}
          ORG_GRADLE_PROJECT_xenondevsPassword: ${{ secrets.XENONDEVS_RELEASES_PASSWORD }}

      - name: Deploy to plugin repositories
        if: ${{ github.event_name == 'release' }}
        uses: gradle/gradle-build-action@v3
        with:
          arguments: |
            pluginPublish
            --githubReleaseId ${{ github.event.release.id }}
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          HANGAR_API_KEY: ${{ secrets.HANGAR_API_KEY }}