name: Build Documentation

on:
  release:
    types: [ created ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set Up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true

      - name: Run Dokka
        run: ./gradlew dokkaGenerate
      
      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          folder: build/dokka/html/
